bin/Debug/net9.0/Display.pdb
bin/Debug/net9.0/Display.pdb
obj/Debug/net9.0/refint/Display.dll
obj/Debug/net9.0/ref/Display.dll
obj/Debug/net9.0/Display.pdb
obj/Debug/net9.0/Display.dll
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/.vs
